:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  app-todo-form {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  app-todo-list {
    width: 100%;
    max-width: 600px;
  }